form.button-form(action=`/admin/edit-product`, method="get")
    button.btn(type="submit") Edit Product
    input(type="hidden" name="id" value=product.id)
    input(type="hidden" name="title" value=product.title)
    input(type="hidden" name="imageUrl" value=product.imageUrl)
    input(type="hidden" name="price" value=product.price)
    input(type="hidden" name="description" value=product.description)
